# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

https://www.vexforum.com/t/design-award-presentation-advice/94310/7
https://www.vexforum.com/t/v5-motor-curve/50439
lancet.mit.edu/motors/motors3.html
https://www.vexforum.com/t/motor-calculations/19124/3
https://www.vexrobotics.com/276-4840.html#additional
https://challenges.robotevents.com/uploads/0000767_original.pdf
https://www.vexforum.com/t/v5-motor-position-velocity-and-acceleration-functions/69547/2
https://www.vexforum.com/t/robot-position-calculation-using-simplified-filter-smoother/30399/3
http://mrkalmes.weebly.com/uploads/2/2/0/1/22013084/vex_unit_7.pdf
https://kb.vex.com/hc/en-us/articles/360044325872-Understanding-V5-Smart-Motor-Performance
https://www.fhrangers.org/cms/lib/PA01001569/Centricity/Domain/1116/VEX%20-%20Unit%205.pdf
